@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 20 100% 95%;
    --foreground: 20 5% 0%;
    --card: 20 50% 90%;
    --card-foreground: 20 5% 10%;
    --popover: 20 100% 95%;
    --popover-foreground: 20 100% 0%;
    --primary: 20 14.3% 4.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 30% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: -18 30% 85%;
    --muted-foreground: 20 5% 35%;
    --accent: -18 30% 80%;
    --accent-foreground: 20 5% 10%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 20 5% 90%;
    --border: 20 30% 50%;
    --input: 20 30% 18%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 20 50% 5%;
    --foreground: 20 5% 90%;
    --card: 20 50% 0%;
    --card-foreground: 20 5% 90%;
    --popover: 20 50% 5%;
    --popover-foreground: 20 5% 90%;
    --primary: 20 14.3% 4.1%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 30% 10%;
    --secondary-foreground: 0 0% 100%;
    --muted: -18 30% 15%;
    --muted-foreground: 20 5% 60%;
    --accent: -18 30% 15%;
    --accent-foreground: 20 5% 90%;
    --destructive: 0 100% 30%;
    --destructive-foreground: 20 5% 90%;
    --border: 20 30% 18%;
    --input: 20 30% 18%;
    --ring: 20 14.3% 4.1%;
    --radius: 0.5rem;
  }
}

:root {
  background: #000;
}
